<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <meta name="screen-orientation" content="portrait" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <title>量化策略</title>
  <link rel="Stylesheet" type="text/css" href="index.css" />
  <script type="text/javascript" src="jquery-3.1.0.js"></script>
  <script type="text/javascript" src="echarts.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="index.js"></script>
</head>

<body>
  <form>
    <input id="code" name="code" type="text"></input>
    <input id="submit" type="button" value="确定"></input>
  </form>
  <div id="stock">
    <ul id="policy_list">
      <li v-for="(policy, index) in policies" v-on:click="requestPolicy(policy, index)" v-bind:class="[selected_policy == index ? 'active' : '']">
        {{policy.name}}
      </li>
    </ul>
    <div id="stock_area">
      <ul id="stock_list">
        <li v-for="(item, index) in items" v-on:click="show(item, index)" v-bind:class="[selected_stock == index ? 'active' : '']">
          {{ item.code }} {{ item.name }}
        </li>
      </ul>
      <div id="stock_chart"></div>
    </div>
  </div>
</body>

</html>